.FP_BottleDetailCard {
  margin-left: auto;
  margin-right: auto;
  max-width: 30rem;
}

.FP_ArticleCard {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: 15rem;
  border-radius: 5px;
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #fff 50%, #82be3c 50%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #fff 50%, #82be3c 50%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #fff 50%, #82be3c 50%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #fff 50%, #82be3c 50%); /* Standard syntax */
}
.FP_ArticleCardImageContainer {
  text-align: center;
  margin: 1rem;
  width: 315px;
}

.FP_ArticleCardImage {
  max-height: 200px;
}
.FP_ArticleCardTextContainer {
  text-align: right;
  margin: 1rem;
  margin-right: 2vh;
  width: 100%;
  -ms-word-break: break-all;
  -ms-word-wrap: break-all;
  -webkit-word-break: break-word;
  -webkit-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.FP_ArticleCardName {
  margin: 0;
  text-align: left;
  line-height: 1.5rem;
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  height: 6.3rem;
}

.FP_ArticleCardPrice {
  color: #a50a50;
  margin-top: 1rem;
  font-size: 1.5rem;
}
.FP_ArticleCardPricePerUnit {
  font-size: 0.8rem;
  color: #ccc;
}

@media only screen and (max-width: 280px) {
  .FP_ArticleCardTextContainer {
    margin: 0.5rem;
    margin-right: 1vh;
  }
  .FP_ArticleCardImageContainer {
    width: 115px;
  }
  .FP_ArticleCardName {
    line-height: 1.5rem;
    font-size: 1.2rem;
  }
}
