.FP_BottleViewArticle {
  text-align: center;
  margin: 1rem;
  width: 15rem;
  box-shadow: 5px 10px #888888;
  border-radius: 5px;
  padding: 10px;
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(bottom, #fff 50%, #82be3c 50%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, #fff 50%, #82be3c 50%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, #fff 50%, #82be3c 50%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, #fff 50%, #82be3c 50%); /* Standard syntax */
}

.FP_BottleViewImage {
  max-height: 200px;
}
